/* ESERCIZIO 1 */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: black;
    transition: background-color 8s;
}

.ex-1-square:hover {
    background-color: red;
}

/* ESERCIZIO 2 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: EnlargeAndSwitchToRectangle;
    transition: 6s;
}

.ex-2-square:active {
    width: 1000px;
    height: 100px;
}

/* ESERCIZIO 3 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 6s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 5s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 30px;
    height: 30px;
}

/* ESERCIZIO 6 */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* ESERCIZIO 7 */

.ex-7-img {
    transition: all 7s ease;
}

.ex-7-img:hover {
    filter: invert(1);
    width: 100%;
}

/* ESERCIZIO 8 */

.ex-8-img {
    transition: all 7s ease;
}

.ex-8-img:active {
    border-radius: 30%;
    float: right;
    filter: brightness(0.1);
}

/* ESERCIZIO 9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img {
    transition: all 3s ease;
}

.ex-9-img:hover {
    background-color: darkgoldenrod;
    filter: sepia(1);
    border-radius: 50%;
    transform: scale(1.5);
}

/* ESERCIZIO 10 */

.ex-10-icon {
    font-size: 60px;
}

.ex-10-icon:hover {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  /* ESERCIZIO 11 */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:active {
    animation: avantiendre 2s infinite alternate-reverse;
}

@keyframes avantiendre {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(270deg);
    }
  }

  /* ESERCIZI 12 e 13 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* ESERCIZIO 12 */

.ex-12-button:active .ex-12-top-white {
    animation: move-top-div 4s linear ;
}

.ex-12-button:active .ex-12-bottom-white {
    animation: move-bottom-div 4s linear ;
}


@keyframes move-top-div {
    0%{
        top: -10px;
        left: 10%;
    }
    12.5%{
        top: -10px;
        left: 30%;
    }
    25%{
        top: -10px;
        left: 50%;
    }
    37.5%{
        top: -10px;
        left: 70%;
    }
    50%{
        top: -10px;
        left: 90%;
    }
    62.5%{
        top: -10px;
        left: 70%;
    }
    75%{
        top: -10px;
        left: 50%;
    }
    87.5%{
        top: -10px;
        left: 30%;
    }
    100%{
        top: -10px;
        left: 10%;
    }

}

@keyframes move-bottom-div {
    0%{
        bottom: -10px;
        right: 20%;
    }
    14.28%{
        bottom: -10px;
        right: 40%;
    }
    28.57%{
        bottom: -10px;
        right: 60%;
    }
    42.84%{
        bottom: -10px;
        right: 80%;
    }
    57.14%{
        bottom: -10px;
        right: 60%;
    }
    87.5%{
        bottom: -10px;
        right: 40%;
    }
    100%{
        bottom: -10px;
        right: 20%;
    }

}



/* ESERCIZIO 13 */

